@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white font-forge;
  background-color: #0d0d0d;
}

* {
  transition: all 0.2s ease;
}

html {
  font-size: 15px;
  ;
}

@media (min-width:640px) {
  html {
    font-size: 16px;
  }
}